<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/user" method="post">
        <label for="">enter full name</label>
        <input type="text" name="name">
        <label for="">enter email</label>
        <input type="email" name="email">
        <label for="">enter password</label>
        <input type="password" name="password">
        <button type="submit">Signup</button>
    </form>
    
</body>
</html>